<?xml version="1.0" encoding="utf-8" ?>
<Config>

  <DataFolder>%MYDOC%</DataFolder>

  <Settings>
    <Folder>%MYDOCS%\TorchFlow</Folder>
    <FileName></FileName>
    <MaxValue></MaxValue>
  </Settings>

  <Standard-Cmds>
    <Folder>%MYDOC%\TorchFlow</Folder>
    <FileName></FileName>
    <MaxValue></MaxValue>
  </Standard-Cmds>
  
</Config>