<?xml version="1.0" encoding="utf-8" ?>
<Config>
  
  <Settings>
    <FolderName>%MYDOCS%\TorchFlow</FolderName>
    <FileName>Settings.xml</FileName>
    <MaxValue></MaxValue>
  </Settings>

  <Commands>
    <FolderName>%MYDOCS%\TorchFlow</FolderName>
    <FileName>Commands.xml</FileName>
    <MaxValue></MaxValue>
  </Commands>
  
</Config>